/* ===== Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

/* ===== Global Reset ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(135deg,#0f0c29,#302b63,#24243e);
    color:#fff;
    line-height:1.6;
}

/* ===== Head*
